/* Estilos para la página principal */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #1514149a   ;
  }
  
  /* Estilos para el título */
  .home-title {
    font-size: 34px;
    margin-bottom: 20px;
    color: white;
  }
  
  /* Estilos para el contenedor del buscador */
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    background-color: transparent;
  }
  
  /* Estilos para el contenedor de las tarjetas de recetas */
  .recipe-cards {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
  max-width: 1200px; 

    margin-top: 20px;;
    background-color: #A1CCD1;
    border: 1px solid #ccc;
    border-radius: 10px;
    
  }

  .create-button{
    color: white;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid white; /* Borde blanco */
    border-radius: 5px; /* Bordes curvos */
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  